# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
  . /etc/bashrc
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
alias cd_core='cd {{ putit_core_deploy_dir }}/services/playbook'
alias cd_cli='cd {{ putit_core_deploy_dir }}/cli'
alias cd_rest='cd {{ putit_core_deploy_dir }}/rest_tests'
alias cd_auth='cd {{ putit_auth_deploy_dir }}'
alias restart_core='sudo systemctl restart putit-core'

