[Unit]
Requires=network.target

[Service]
Type=forking
User={{ deployer_app_user }}
WorkingDirectory={{ putit_core_service_dir }}
Environment=PORT=%i
Environment=RACK_ENV=development
Environment='STDOUT={{ putit_core_deploy_dir }}/%p.stdout'
Environment='STDERR={{ putit_core_deploy_dir }}/%p.stderr'
EnvironmentFile=/home/{{ deployer_app_user }}/{{ putit_core_systemd_environment_file }}
#PIDFile={{ putit_core_service_dir }}/pids/thin-devel.pid
ExecStart=/bin/bash -lc '/bin/bundle exec thin -C {{ putit_core_thin_config_path }}  start'
ExecStop=/bin/sh -lc '/bin/bundle exec thin -C {{ putit_core_thin_config_path }} stop'
Restart=no
StandardInput=null
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=%p
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
