[Unit]
Requires=network.target

[Service]
Type=simple
User=depapp
WorkingDirectory=/vagrant/deployer-services/services/playbook
Environment=PORT=%i
Environment=RACK_ENV=development
Environment='STDOUT=/vagrant/deployer-services/%p.out'
Environment='STDERR=/vagrant/deployer-services/%p.out'
EnvironmentFile=/home/{{ deployer_app_user }}/{{ putit_core_systemd_environment_file }}
ExecStart=/bin/sh -c '/bin/bundle exec thin start --port 9292 --log ${STDOUT}'
#ExecStart=/vagrant/deployer-services/scripts/putit-core.sh
ExecStop=/bin/sh -c '/bin/bundle exec thin stop --port 9292 --log ${STDOUT}'
Restart=no
StandardInput=null
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=%p
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
